body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 250px repeat(3, 1fr) 300px;
  grid-template-rows: 120px 1fr;
  grid-template-areas:
    "nav header header header header"
    "nav main main main aside"
    "nav main main main aside"
    "nav main main main aside"
    "nav main main main aside";
}

p {
  color: #4d4d4d;
  text-wrap: pretty;
}

header {
  padding-top: 10px;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .search__bar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-content: center;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      flex-grow: 1;
      border-radius: 25px;
      height: 30px;
      border: none;
      background-color: #ededed;
    }

    button {
      width: 25px;
      height: 25px;
      border: none;
      background-color: transparent;
      padding: 5px;
      background-image: url(./assets/search.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .notification__bar {
    grid-column: 4 / end;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    .notification__btn {
      border: none;
      background-color: transparent;
      width: 25px;
      height: 25px;
      background-image: url(./assets/notifications.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .notification__avatar {
      width: 30px;
      height: 30px;
      background-color: #ffd061;
      border: none;
      border-radius: 50%;
      background-image: url(./assets/person.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    p {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .profile {
    grid-column: 1 / 4;
    grid-row: 2 / end;
    display: flex;
    gap: 15px;
    align-items: center;
    padding-inline: 20px;

    .avatar {
      width: 50px;
      height: 50px;
      background-color: #ffd061;
      border-radius: 50%;
      background-image: url(./assets/person.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .profile__greetings {
      font-size: 14px;
      font-weight: 600;
    }

    .profile__name {
      font-size: 20px;
      font-weight: bold;

      .profile__username {
        font-size: 18px;
        color: #2a2a2a;
      }
    }
  }

  .buttons__bar {
    grid-column: 4 / end;
    grid-row: 2 / end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    button {
      width: 80px;
      height: 35px;
      border-radius: 25px;
      background-color: #1a9bf8;
      color: #ffffff;
      font-weight: bold;
      border: none;
    }
  }
}

nav {
  grid-area: nav;
  background-color: #1a9bf8;
  padding: 20px;

  ul {
    width: 250px;
    list-style-type: none;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      display: flex;
      align-items: center;
      gap: 12px;

      .dashboard-ico {
        width: 50px;
        height: auto;
      }

      .dashboard-text {
        font-size: 24px;
      }
    }
  }

  a {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}

main {
  grid-area: main;
  background-color: #d4ecfe;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin: 10px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px 40px;
    list-style-type: none;

    li {
      padding: 15px;
      /* width: 280px; */
      height: 160px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: #adadad 4px 4px 10px;
      border-left: #ffd061 6px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .reactions {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        button {
          background-color: transparent;
          border: none;
          width: 25px;
          height: 25px;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .favorite {
          background-image: url(./assets/star.svg);
        }

        .view {
          background-image: url(./assets/visibility.svg);
        }

        .share {
          background-image: url(./assets/share.svg);
        }
      }
    }
  }
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  background-color: #d4ecfe;

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  ul {
    border-radius: 5px;
    box-shadow: #adadad 4px 8px 10px;
    padding: 15px;
    list-style-type: none;
    background-color: #ffffff;

    li {
      margin-bottom: 10px;
    }
  }
  .announcements li {
    padding-bottom: 5px;
    border-bottom: #c0c0c0 1px solid;
  }

  .trend__elem {
    display: flex;
    align-items: center;
    gap: 8px;

    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #ffd061;
      background-image: url(./assets/person.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .username {
      font-weight: bold;
    }

    .title {
      font-size: 14px;
    }
  }
}
