body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 20vh);
  grid-template-areas:
    "nav header header header header"
    "nav main main main aside"
    "nav main main main aside"
    "nav main main main aside"
    "nav main main main aside";
}

header {
  padding-top: 10px;
  border: yellow 2px solid;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .search__bar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-content: center;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      flex-grow: 1;
      border-radius: 25px;
      height: 30px;
      border: none;
      background-color: #ededed;
    }

    button {
      width: 25px;
      height: 25px;
      border: none;
      background-color: transparent;
      padding: 5px;
      background-image: url(./assets/search.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .notification__bar {
    grid-column: 4 / end;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    .notification__btn {
      border: none;
      background-color: transparent;
      width: 25px;
      height: 25px;
      background-image: url(./assets/notifications.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .notification__avatar {
      width: 30px;
      height: 30px;
      background-color: #ffd061;
      border: none;
      border-radius: 50%;
      background-image: url(./assets/person.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    p {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .profile {
    grid-column: 1 / 4;
    grid-row: 2 / end;
    display: flex;
    gap: 15px;
    align-items: center;
    padding-inline: 20px;

    .avatar {
      width: 50px;
      height: 50px;
      background-color: #ffd061;
      border-radius: 50%;
      background-image: url(./assets/person.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .profile__greetings {
      font-size: 14px;
      font-weight: 600;
    }

    .profile__name {
      font-size: 20px;
      font-weight: bold;

      .profile__username {
        font-size: 18px;
        color: #2a2a2a;
      }
    }
  }

  .buttons__bar {
    border: palevioletred 2px solid;
    grid-column: 4 / end;
    grid-row: 2 / end;
  }
}

nav {
  border: blue 2px solid;
  grid-area: nav;
}

main {
  border: red 2px solid;
  grid-area: main;
}

aside {
  border: green 2px solid;
  grid-area: aside;
}
